server:
  port: 8010

spring:
  application:
    name: smart-todo-auth
  profiles:
    active: dev
  cloud:
    nacos:
      server-addr: localhost:8848
      discovery:
        group: DEFAULT_GROUP
      config:
        server-addr: localhost:8848
        file-extension: yaml