server:
  port: 8080

spring:
  application:
    name: smart-todo-gateway
  profiles:
    active: dev
  cloud:
    nacos:
      server-addr: localhost:8848
      discovery:
        group: DEFAULT_GROUP
    gateway:
      discovery:
        locator:
          enabled: true # 开启从 Nacos 自动发现服务
      routes:
        # =====================================
        # 路由 1: 认证服务
        # 请求 http://localhost:8080/api/auth/hello
        # 转发 -> smart-todo-auth 服务 /auth/hello
        # =====================================
        - id: auth-service-route
          uri: lb://smart-todo-auth  # lb = LoadBalancer (负载均衡)
          predicates:
            - Path=/api/auth/** # 断言：路径匹配
          filters:
            - StripPrefix=1          # 过滤器：去掉第一层路径 /api